.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
public/index.html
public/css/app.c46a047c.css
public/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.29b882f0.woff
public/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.0509ab09.woff2
public/fonts/KFOkCnqEu92Fr1MmgVxIIzQ.5cb7edfc.woff
public/fonts/KFOlCnqEu92Fr1MmEU9fBBc-.87284894.woff
public/fonts/KFOlCnqEu92Fr1MmSU5fBBc-.b00849e0.woff
public/fonts/KFOlCnqEu92Fr1MmWUlfBBc-.adcde98f.woff
public/fonts/KFOlCnqEu92Fr1MmYUtfBBc-.bb1e4dc6.woff
public/fonts/KFOmCnqEu92Fr1Mu4mxM.60fa3c06.woff
public/js/2d0c4a08.cee3ad72.js
public/js/2d0c7b43.6c8d33f9.js
public/js/2d0e8be2.57cc4663.js
public/js/2d22c0ff.2fa556a9.js
public/js/4b47640d.766c65fe.js
public/js/app.1bd7cbe7.js
public/js/runtime.9229a869.js
public/js/vendor.1462e46f.js
public/statics/app-logo-128x128.png
public/statics/icons/apple-icon-120x120.png
public/statics/icons/apple-icon-152x152.png
public/statics/icons/apple-icon-167x167.png
public/statics/icons/apple-icon-180x180.png
public/statics/icons/favicon-16x16.png
public/statics/icons/favicon-32x32.png
public/statics/icons/favicon-96x96.png
public/statics/icons/favicon.ico
public/statics/icons/icon-128x128.png
public/statics/icons/icon-192x192.png
public/statics/icons/icon-256x256.png
public/statics/icons/icon-384x384.png
public/statics/icons/icon-512x512.png
public/statics/icons/ms-icon-144x144.png
public/statics/icons/safari-pinned-tab.svg
